<div class="nip-post">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Post</div>

          <div class="card-body">
            <p>This page allows the user to post articles of any length on the Platform, as well as provide citation for
              the claims, and note sources of influence for the post.</p>
            <!-- TODO Remove page info -->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
