<div class="nip-login">
  <div class="cotainer">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Login</div>

          <div class="card-body" *ngIf="msgErrorService">
            <app-error [errorMessage]="msgErrorService"></app-error>
          </div>

          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="row form-group">
                <div class="col">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" name="email" id="email" formControlName="email"
                         placeholder="Enter email"
                         [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched) && email.errors}"
                         required>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <p class="invalid-feedback d-block" *ngIf="email.errors.required">
                      Email is required.
                    </p>
                    <p class="invalid-feedback d-block" *ngIf="email.invalid && !email.errors.required">
                      Email is invalid.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col">
                  <label for="password">Password</label>
                  <div class="input-group">
                    <input [type]="pswType" class="form-control py-2" name="password" id="password"
                           formControlName="password" placeholder="Password"
                           [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched) && password.errors}"
                           required>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <fa-icon [icon]="pswIcon" (click)="switchPsw()" class="fa-fw"></fa-icon>
                      </span>
                    </div>
                  </div>
                  <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <p class="invalid-feedback d-block" *ngIf="password.errors.required">
                      Password is required.
                    </p>
                    <p class="invalid-feedback d-block" *ngIf="password.invalid && !password.errors.required">
                      Password is invalid.
                    </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="button" class="btn btn-link" (click)="forgotPassword()">Forgot your password?</button>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
