<div class="nip-comment">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Comment</div>

          <div class="card-body">
            <p>This page allows the user to comment on posts on the Platform as well as posts/articles/etc. on external
              webpages. There will be 3 tabs to input the post to which the user responds:</p>
            <!-- TODO Remove page info -->

            <ngb-tabset [justify]="'justified'">
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <strong>External URL</strong>
                </ng-template>
                <ng-template ngbTabContent>
                  <p>(1) URL tab for external webpages - the Page will then automatically parse the URL and allow the
                    user to respond sentence by sentence.</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <strong>Manually</strong>
                </ng-template>
                <ng-template ngbTabContent>
                  <p>(2) a tab where the user can manually enter the text data he or she is responding to - the Page
                    will then parse the text similar to tab 1.</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <strong>Search field/URL</strong>
                </ng-template>
                <ng-template ngbTabContent>
                  <p>(3) a tab for posts within the Platform (based on a search field/URL). The Page will identify the
                    underlying data structure and allow the user to comment.</p>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
