<div class="nip-signup">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Signup</div>

          <div class="card-body" *ngIf="msgErrorService">
            <app-error [errorMessage]="msgErrorService"></app-error>
          </div>

          <div class="card-body">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

              <div class="row form-group pb-3">
                <div class="col">
                  <label for="firstName">First name</label>
                  <input
                    type="text"
                    class="form-control"
                    name="firstName"
                    id="firstName"
                    formControlName="firstName"
                    placeholder="Enter first name"
                    [ngClass]="{'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched) && firstName.errors}"
                    required>
                  <div class="nip-invalid-feedback" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                    <p class="invalid-feedback d-block" *ngIf="firstName.errors.required">
                      First name is required.
                    </p>
                    <p class="invalid-feedback d-block" *ngIf="firstName.invalid && !firstName.errors.required">
                      First name is invalid.
                    </p>
                  </div>
                </div>
              </div>

              <div class="row form-group pb-3">
                <div class="col">
                  <label for="lastName">Last name</label>
                  <input
                    type="text"
                    class="form-control"
                    name="lastName"
                    id="lastName"
                    formControlName="lastName"
                    placeholder="Enter last name"
                    [ngClass]="{'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched) && lastName.errors}"
                    required>
                  <div class="nip-invalid-feedback" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                    <p class="invalid-feedback d-block" *ngIf="lastName.errors.required">
                      Last name is required.
                    </p>
                    <p class="invalid-feedback d-block" *ngIf="lastName.invalid && !lastName.errors.required">
                      Last name is invalid.
                    </p>
                  </div>
                </div>
              </div>

              <div class="row form-group pb-3">
                <div class="col">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    id="username"
                    formControlName="username"
                    placeholder="Enter username"
                    [ngClass]="{'is-invalid': username.invalid && (username.dirty || username.touched) && username.errors}"
                    required>
                  <div class="nip-invalid-feedback" *ngIf="username.invalid && (username.dirty || username.touched)">
                    <p class="invalid-feedback d-block" *ngIf="username.errors.required">
                      Username is required.
                    </p>
                    <p class="invalid-feedback d-block" *ngIf="username.invalid && !username.errors.required">
                      Your username needs to be between 6 and 16 characters long and special characters are not
                      permitted.
                    </p>
                  </div>
                </div>
              </div>

              <div class="row form-group pb-3">
                <div class="col">
                  <label for="email">Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    formControlName="email"
                    placeholder="Enter email"
                    [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched) && email.errors}"
                    required>
                  <div class="nip-invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <p class="invalid-feedback d-block" *ngIf="email.errors.required">
                      Email is required.
                    </p>
                    <p class="invalid-feedback d-block" *ngIf="email.invalid && !email.errors.required">
                      Email is invalid.
                    </p>
                  </div>
                </div>
              </div>

              <div class="row form-group pb-3" [ngClass]="{'pb-5': (password.invalid && (password.dirty || password.touched) && !password.errors.required)}">
                <div class="col">
                  <label for="password">Password</label>
                  <div class="input-group">
                    <input
                      [type]="pswType"
                      class="form-control py-2"
                      name="password"
                      id="password"
                      formControlName="password"
                      placeholder="Enter password"
                      [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched) && password.errors}"
                      required>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <fa-icon [icon]="pswIcon" (click)="switchPsw()" class="fa-fw"></fa-icon>
                      </span>
                    </div>
                  </div>
                  <div class="nip-invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <p class="invalid-feedback d-block" *ngIf="password.errors.required">
                      Password is required.
                    </p>
                    <p class="invalid-feedback d-block" *ngIf="password.invalid && !password.errors.required">
                      Your password needs contain 8 alpha-numeric characters long and for security it must contain at
                      least one uppercase, one number, and one special character.
                    </p>
                  </div>
                </div>
              </div>

              <div class="row form-group pb-3">
                <div class="col">
                  <label for="confirmPassword">Confirm password</label>
                  <div class="input-group">
                    <input
                      [type]="pswType"
                      class="form-control py-2"
                      name="confirmPassword"
                      id="confirmPassword"
                      formControlName="confirmPassword"
                      placeholder="Enter confirm password"
                      [ngClass]="{'is-invalid': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors}"
                      required>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <fa-icon [icon]="pswIcon" (click)="switchPsw()" class="fa-fw"></fa-icon>
                      </span>
                    </div>
                  </div>
                  <div class="nip-invalid-feedback" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                    <p class="invalid-feedback d-block" *ngIf="confirmPassword.errors.required">
                      Confirm password is required.
                    </p>
                    <p class="invalid-feedback d-block"
                       *ngIf="confirmPassword.errors?.notMatch && !confirmPassword.errors.required">
                      Confirm password doesn't match Password.
                    </p>
                  </div>
                </div>
              </div>

              <div class="row pt-2">
                <div class="col">
                  <button class="btn btn-primary mr-1">Register</button>
                  <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <app-modal #registerationModal [id]="registerationModalOptions.id" [title]="registerationModalOptions.title" [description]="registerationModalOptions.description" [icon]="registerationModalOptions.icon" [iconColor]="registerationModalOptions.iconColor" [okButtonLabel]="registerationModalOptions.okButtonLabel" (okButtonClick)="goToLogin()" (closeButtonClick)="goToLogin()"></app-modal>
  </div>

</div>
