<div class="nip-dashboard">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Welcome</div>

          <div class="card-body">
            <p>This page will have a customized user feed, where the user will be able to decide what information from
              the platform should be displayed (for example, latest news/politics/science development/culture/etc.</p>
            <!-- TODO Remove page info -->
          </div>

          <div class="card-body">
            <div class="py-1">
              <div class="text-center">
                <button type="button" class="btn btn-outline-primary m-1" routerLink="/private/investment">Investment</button>
                <button type="button" class="btn btn-outline-primary m-1"v routerLink="/private/post">Post</button>
                <button type="button" class="btn btn-outline-primary m-1" routerLink="/private/comment">Comment</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
